.DS_Store

# venv
.venv

# cache
.mypy_cache
__pycache__

# dataset
dataset/entities*.json
dataset/triplets*.json
dataset/users-submission-history.json
dataset/users-submission-history-sm.json

# credentials
src/dataset/.env

# result
src/model/KGAT/result/*
src/model/NFM/result/*